    $fontstr: 'Quicksand';
    $titles: uppercase;
    $strong: bold;

%strong-letter-titles {
    font: $fontstr;
    text-transform: $titles;
    font-weight: $strong;
}

.table-orange {
    background-color: orange;
}

table {
    td {
        @extend %strong-letter-titles;
        border: 2px solid black;
    }
    tr {
        @extend %strong-letter-titles;
        border: 2px solid black;
    }
}

div {
h5 {
    @extend %strong-letter-titles;    
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
}

.nav-item {
    margin: 0 50px; /* Espacio entre los elementos*/
}

#all:hover, #netflix:hover, #hbo:hover, #disney:hover, #prime:hover{
    background-color: orange;
}

.card:hover {
    background-color: rgb(207, 201, 201);
  }

.card:active {
    background-color: gray;
  }

.navbar-toggler-icon {
    color: black;
  }
  
  @media(max-width:990px){
    #nav-btn{
      background-color: #FFA500;
    }
  }
  
